streamlit
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-groq
langchain-cohere
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
duckduckgo-search
ddgs
requests
python-dotenv
pydantic